/*position absol
transform translate(-50,-50)*/
@font-face {
    font-family: 'Dangrek';
    src: url('../fonts/Dangrek-Regular.ttf')  format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
*{
    font-family: Dangrek;
    padding: 0;  
    margin: 0;  
}
body{  
    width: 100vw;  
    height: 100vh;  
    overflow: hidden;  
    background-image: url(../img/back2.png) ;  

}  
/*блок*/
.feed1{ 
    width: 30vw;  
    height: 25vw;  
    border: 0.2vw dotted;  
    background-color: rgb(248,248,248);  
    top: 60%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    position: absolute;  
    border-radius: 0.7vw;  
    border-color:rgba(159, 118, 112, 0.362) ; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    -webkit-box-shadow: -5px 7px 25px 1px rgba(20, 47, 79, 0.13);
    -moz-box-shadow: -5px 7px 25px 1px rgba(20, 47, 79, 0.13);
    box-shadow: -5px 7px 25px 1px rgba(20, 47, 79, 0.13);
}  

.text1{  
    color: rgb(159, 118, 112);   
    font-size: 2.5vw;  
    margin-top: 20vh;  
    font-weight: 600;  
    margin-left: 34%; 
    position: absolute;
    transform: translate(0%,-50%);
} 
.text_name{  
    color: rgb(101, 74, 69);    
    font-size: 1.3vw;  
    margin-left: 2.5%;  
    font-weight: 600;  
    margin-bottom: 2%; 
    margin-top: 2%; 
}  
.feed_pass{  
    padding: 0;  
    margin-left: 2.5%;  
    height: 5vw;  
    width: 75%; 
    border-radius: 0.6vw;  
    border-color: rgb(159, 118, 112) 
}  
.feed_login{  
    padding: 0;  
    margin-left: 2.5%;  
    /* 
    margin-top: 2vw; */ 
    height: 2vw;  
    width: 75%; 
    border-radius: 0.6vw;  
    border-color: rgb(159, 118, 112);  
} 
button{  
    border-radius: 0.8vw;  
    margin-top: 1vw;  
    border-color: rgb(159, 118, 112); 
    background-color: rgb(159, 118, 112); 
    width: 40%; 
    color:rgb(255, 255, 255); 
    margin-left: 2.5%;  
    font-size: 1.3vw
}

.alert-danger {
    position: absolute;
    top: 3vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 4%;
    width: 72%;
    margin-bottom: 1vw;
    background-color: rgb(230, 51, 51);
    z-index: 150;
    text-align: center;
    color: #f6f6f8;
    font-size: 1.2vw;
    border-radius: 0.3vw;
    box-shadow: 0px 0px 15px -3px #000000;
}
.alert-good {
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 2vw;
    width: 40%;
    background-color: rgb(43, 204, 67);
    z-index: 150;
    text-align: center;
    color: #f6f6f8;
    font-size: 1.2vw;
    border-radius: 0.3vw;
    box-shadow: 0px 0px 15px -3px #000000;
}
/*style-ok*/
.text_ok{
    font-size: 2vw;
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-30,-30);
    color: rgb(101, 74, 69);    
}

.btn_ok{
    border-radius: 0.8vw;  
    margin-top: 1vw;  
    border-color: rgb(159, 118, 112); 
    background-color: rgb(159, 118, 112); 
    width: 40%; 
    color:rgb(255, 255, 255); 
    margin-left: 2.5%;  
    font-size: 1.3vw
}